<div class="parallax text-align">
  <h1 class="tagline" style="text-align:left"> Make America
  <div class=woke>{{title}}</div>
  Again</h1>

  <a href="../users/new" > <button class="btn btn-primary" id="start">Get Started</button> </a>

</div>
