<div class="parallax text-align">
  <h1 class=tagline style="text-align:left"> Make America {{title}} Again</h1>

  <button class="btn-primary" style="text-align:center"><a href="url">Get Started</a></button>
</div>
