<!-- <h1>{{title}}</h1> -->
<!-- <p>Welcome to {{title}}</p> -->
<h2>{{title}}</h2>
<p>Log In</p>
<p>Get started, {{name}}.</p>
<a class="twitter-timeline" data-lang="en" data-width="900" data-height="500" data-theme="dark" data-link-color="#981CEB" href="https://twitter.com/SenGillibrand?ref_src=twsrc%5Etfw">Tweets by SenGillibrand</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet" data-width="550" data-lang="en" data-theme="dark" data-link-color="#981CEB">
  <p lang="en" dir="ltr">I believe in an America where government works for people instead of special interests. Where we value women. Where we lead with bravery and compassion instead of fear and hate. Will you chip in $3 to make sure I can share that vision on the debate stage? <

  a href="https://t.co/R24QJMOgUE">https://t.co/R24QJMOgUE</a>
</p>&mdash;  <a href="https://twitter.com/SenGillibrand/status/1111997729775988736?ref_src=twsrc%5Etfw">March 30, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
