<div class="parallax text-align">
  <h1 class="tagline" style="text-align:left"> Make America
  <div class=woke>{{title}}</div>
  Again</h1>

  <button class="btn btn-primary" id="start"><a href="/users/new" >Get Started</a></button>
</div>
