<div class="container1 text-center">
  <form action="/login" method="post">
    <h1>Log in</h1>
    <div class="form-group">
      <input type="text" name="username" class="input-text" id="user-username" placeholder="username" autocomplete="off" required>
    </div>

    <div class="form-group">
      <input type="password" name="password" class="input-text" id="user-password" placeholder="password" required>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-light">Submit</button>
    </div>

    <div>
      <p>Don't have an account? <a class="link" href="../users/new">Sign Up</a></p>
    </div>
  </form>
</div>
