<div class="images">
  <div class="container">
    <img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Kirsten_Gillibrand/958b0afaf.png" alt="Kirsten Gillibrand">
    <div class="overlay">
      <div class="text">Kirsten Gillibrand</div>
    </div>
  </div>
  <div class="container">
    <img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Beto_ORourke/80b970ed5.png" alt="Beto O'Rourke">
    <div class="overlay">
      <div class="text">Beto O'Rourke</div>
    </div>
  </div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/John_Hickenlooper/610706753.png" alt="John Hickenlooper">
<div class="overlay">
  <div class="text">John Hickenlooper</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Jay_Inslee/915769184.png" alt="Jay Inslee">
<div class="overlay">
  <div class="text">Jay Inslee</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Bernie_Sanders/b5756f6dd.png" alt="Bernie Sanders">
<div class="overlay">
  <div class="text">Bernie Sanders</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Amy_Klobuchar/8c8c66f25.png" alt="Amy Klobuchar">
<div class="overlay">
  <div class="text">Amy Klobuchar</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Elizabeth_Warren/8cde66575.jpg" alt="Elizabeth Warren">
<div class="overlay">
  <div class="text">Elizabeth Warren</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Kamala_Harris/cd8f827fe.png" alt="Kamala Harris">
<div class="overlay">
  <div class="text">Kamala Harris</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Pete_Buttigieg/b82df5565.png" alt="Pete Buttigieg">
<div class="overlay">
  <div class="text">Pete Buttigieg</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Julian_Castro/f73909854.png" alt="Julián Castro">
<div class="overlay">
  <div class="text">Julián Castro</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/John_Delaney/9adfe3cb2.png" alt="John Delaney">
<div class="overlay">
  <div class="text">John Delaney</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Tulsi_Gabbard/f7887de4d.png" alt="Tulsi Gabbard">
<div class="overlay">
  <div class="text">Tulsi Gabbard</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Andrew_Yang/d4fdd5d45.png" alt="Andrew Yang">
<div class="overlay">
  <div class="text">Andrew Yang</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Marianna_Williamson/1d7901e1d.png" alt="Marrianne Williamson">
<div class="overlay">
  <div class="text">Marianne Williamson</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Cory_Booker/f8e6a777d.png" alt="Cory Booker">
<div class="overlay">
  <div class="text">Cory Booker</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Joe_Biden/6c9031ca3.png" alt="Joe Biden">
<div class="overlay">
  <div class="text">Joe Biden</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Eric_Swalwell/bf1f070a1.png" alt="Eric Swalwell">
<div class="overlay">
  <div class="text">Eric Swalwell</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Donald_Trump/fff206b38.png" alt="Donald Trump">
<div class="overlay">
  <div class="text">Donald Trump</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/William_Weld-1/c8dca26d6.png" alt="William Weld">
<div class="overlay">
  <div class="text">Bill Weld</div>
</div>
</div>
  <div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/McAfee/5dca8090d.png" alt="John McAfee">
<div class="overlay">
  <div class="text">John McAfee</div>
</div>
</div>
</div>
</div>
