body {
  padding: 50px;
  font: 37px "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.parallax {
  background-color: #F4B4BB; /* For browsers that do not support gradients */
  background-image: linear-gradient(#ff0000, #9745c6, #3d85c6); /* Standard syntax (must be last) */
  min-height: 800px;
  width: 100vw;
  margin-top: -2em;
  margin-bottom: 2em;
  margin-left: calc(-50vw + 50% - 8px);
  position: relative;
  color: white;
}

.tagline {
  padding: 300px;
  width: 100px;
  margin-left: 70px;

}

.woke
{
  font: 45px "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
}

#start{
  margin-left: 900px;
  margin-bottom: 450px;
}
