<div class="container1 text-center">
  <form action="/users" method="post">
    <h1>New User</h1>

    <div class="form-group">
      <input type="text" name="username" class="input-text" id="user-username" placeholder="Username" autocomplete="off" required>
    </div>

    <div class="form-group">
      <input type="password" name="password" class="input-text" placeholder="Password" id="password" autocomplete="off" required>
    </div>

    <div class="form-group">
      <input type="password" class="input-text" placeholder="Confirm Password" id="confirm_password" autocomplete="off" required>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-light">Confirm</button>
    </div>

    <script>
      var password = document.getElementById("password");
      var confirm_password = document.getElementById("confirm_password");

      function validatePassword(){
        if(password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
          confirm_password.setCustomValidity('');
        }
      }

      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
    </script>

    <div>
      <p>Have an account? <a class="link" href="../login">Login</a></p>
    </div>
  </form>
</div>
