<div class="container">
  <form action="/posts" method="post" enctype="multipart/form-data">
    <h1>What's Your Stance?</h1>

    <div class="form-group">
      <label for="post-description">Description</label>
      <textarea name="description" class="input-text" id="post-description" rows="3" placeholder="Describe your project..." required></textarea>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div>
    <p><a class="link" href="/quiz">Cancel</a></p>
  </div>
</div>
