<h1>Your Top Presidential Candidates</h1>

<div class="images" style="width: 100%">

  <a href="https://www.marianne2020.com/">
  <div class="container">
  <img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Marianna_Williamson/1d7901e1d.png" alt="Marrianne Williamson">
  <div class="overlay">
    <div class="text">Marrianne Williamson</div>
  </div>
  </div>
  </a>
  
<a href="https://www.johndelaney.com/">
<div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/John_Delaney/9adfe3cb2.png" alt="John Delaney">
<div class="overlay">
  <div class="text">John Delaney</div>
</div>
</div>
</a>

</a>
<a href="https://www.klobuchar.senate.gov/public/">
<div class="container">
<img src="https://cdn.theatlantic.com/assets/media/img/posts/2019/02/Amy_Klobuchar/8c8c66f25.png" alt="Amy Klobuchar">
<div class="overlay">
  <div class="text">Amy Klobuchar</div>
</div>
</div></a>




</div>
