<div class="parallax text-align" ><h1 style="text-align:center" id=registration> Register Now! </h1>

    <ul class="list1">
    <li><a href="https://www.alabamainteractive.org/sos/voter_registration/voterRegistrationWelcome.action">Alabama</a></li>
    <li><a href="https://voterregistration.alaska.gov/">Alaska</a></li>
    <li><a href="https://azsos.gov/elections/voting-election/register-vote-or-update-your-current-voter-information">Arizona</a></li>
    <li><a href="https://www.sos.arkansas.gov/elections/voter-information/voter-registration-information">Arkansas</a></li>
    <li><a href="https://covr.sos.ca.gov/?">California</a></li>
    <li><a href="https://www.sos.state.co.us/pubs/elections/vote/VoterHome.html?">Colorado</a></li>
    <li><a href="https://voterregistration.ct.gov/OLVR/welcome.do">Connecticut</a></li>
    <li><a href="https://elections.delaware.gov/voter/votereg.shtml">Delaware</a></li>
    <li><a href="https://registertovoteflorida.gov/en/Registration/Eligibility">Florida</a></li>
    <li><a href="https://registertovote.sos.ga.gov/GAOLVR/welcometoga.do#no-back-button">Georgia</a></li>
    <li><a href="https://olvr.hawaii.gov/">Hawaii</a></li>
    <li><a href="#">Idaho</a></li>
    <li><a href="#">Illinois</a></li>
    <li><a href="#">Indiana</a></li>
    <li><a href="#">Iowa</a></li>
    <li><a href="#">Kansas</a></li>
    <li><a href="#">Kentucky</a></li>
    <li><a href="#">Louisiana</a></li>
    <li><a href="#">Maine</a></li>
    <li><a href="#">Maryland</a></li>
    <li><a href="#">Massachusetts</a></li>
    <li><a href="#">Michigan</a></li>
    <li><a href="#">Minnesota</a></li>
    <li><a href="#">Mississippi</a></li>
    <li><a href="#">Missouri</a></li>
  </ul>
  <ul class="list2">
    <li><a href="https://sosmt.gov/elections/vote/">Montana</a></li>
    <li><a href="https://www.nebraska.gov/apps-sos-voter-registration/">Nebraska</a></li>
    <li><a href="https://www.nvsos.gov/sosvoterservices/Registration/Step0.aspx">Nevada</a></li>
    <li><a href="http://sos.nh.gov/HowRegVote.aspx">New Hampshire</a></li>
    <li><a href="#">New Jersey</a></li>
    <li><a href="#">New Mexico</a></li>
    <li><a href="#">New York</a></li>
    <li><a href="#">North Carolina</a></li>
    <li><a href="#">North Dakota</a></li>
    <li><a href="#">Ohio</a></li>
    <li><a href="#">Oklahoma</a></li>
    <li><a href="#">Oregon</a></li>
    <li><a href="#">Pennsylvania</a></li>
    <li><a href="#">Rhode Island</a></li>
    <li><a href="#">South Carolina</a></li>
    <li><a href="#">South Dakota</a></li>
    <li><a href="#">Tennessee</a></li>
    <li><a href="#">Texas</a></li>
    <li><a href="#">Utah</a></li>
    <li><a href="#">Vermont</a></li>
    <li><a href="#">Virginia</a></li>
    <li><a href="#">Washington</a></li>
    <li><a href="#">West Virginia</a></li>
    <li><a href="#">Wisconsin</a></li>
    <li><a href="#">Wyoming</a></li>
  </ul>
</div>
</div>
